*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    color: #E5E7EB;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    font-family: "Roboto",sans-serif;
}

.content-container{
    flex:1 1 0;
    margin:32px 10vw;
    display:flex;
    padding:16px;
}

* a{
    color: #E5E7EB;
    text-decoration: none;
    text-align: center;
}

.header{
    width:100%;
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    color: #F9FAF8;
}

.header .content-container{
    justify-content: space-between;
    align-items:center;
}

.header * .logo{
    font-weight:bold;
    font-size: 24px;
}

.header * .logo * img{
    width:auto;
    max-height: 50px;
}

.header * .right-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.header * .right-links a{
    font-size:18px;
}

.main{
    width:100%;
    flex:1 1 auto;
    background-color: #254e88;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.main .content-container{
    flex-wrap: wrap;
    justify-content: space-around;
}

.main * .sectionbox{
    margin:10px;
    padding:8px;
    width:256px;
    border: 2px grey solid;
    border-radius: 16px;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

.main * .title{
    font-size: 24px;
    margin-bottom:8px ;
    font-weight: bold;
}

.footer{
    width:100%;
    background-color: #1F2937;
}

.footer .content-container{
    display:flex;
    justify-content: center;
    align-items: center;
}