body{
    margin:0;
    padding:0;
    background-color: #D6E9FE; 
    font-size: large;
}

a:link, a:visited{
    text-decoration: none;
}
/* menu */
.menu-container{
    display:flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA; 
    padding: 20px 0;
}

.menu{
    border: 1px solid #fff;  
    width: 90%;
    display: flex;
    justify-content: space-between;  
}
.menu *{
    border-radius: 3px;
    margin:5px 20px
}

.account{
    display:flex;
    justify-content:flex-end ;
}
.account *{
    margin:0 20px;
}

.header-container{
    display:flex;
    justify-content: center;
}
.header{
    width:80%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.header *{
    margin:0 auto;
}

.social, .subscribe{
    align-self:flex-end;
    margin-bottom:30px;
}
/* footer content */
.footer-continer{
    display:flex;
    color: #fff;
    justify-content: center;
}

.footer{
    background-color: #5995DA;
    display:flex;
    padding:20px 0;
    justify-content:space-around
}

.back-button{
    background: #D6E9FE;
    border-radius: 5px;
}

.back-button a{
    padding:3px
}

/* Body content */
.body-container{
    display:flex;
    justify-content: center;
}
.body{
    width:80%;
    display:flex;
    justify-content: space-between;
    padding:40px;
    flex-wrap: wrap;
    /* gap: 10px; */
}
.body div{
    margin:10px;
    width:150px;
    display:block;
    padding:20px;
    background: #5995DA;
    border: #0077ff solid 2px;
}

.body .one{
    flex:1 1 0
}

.body .two{
    flex:0 0 auto
}

.body .three{
    flex:1 0 auto
}

.body .four{
    flex:2 2 0;
}