body{
    background-color: aquamarine;
    font-size: large;
}

h1{
    text-align: center;
    text-decoration: underline;
}
.flex-container{
    display:flex;
    border: solid purple 1px;
    margin:10px
}
.flex-container .flex-item{
    text-align: center;
    background:peachpuff;
    border:3px solid purple;

    margin:10px 5px;
    flex:1; 
}
.back a{
    background-color: red;
    border-radius: 5px; 
    border:black solid;
    border-width: 2px;
    background-color: rgb(226, 182, 69);
}

.back{
    text-align: center;
    padding:3px;

}

.menu-container{
    display:flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA; 
    padding: 20px 0;
}

.menu{
    border: 1px solid #fff;  
    width: 90%;
    display: flex;
    justify-content: space-between;  
}
.menu *{
    border-radius: 3px;
    margin:3px 20px
}

.account{
    display:flex;
    justify-content:flex-end ;
}
.account *{
    margin:0 20px;
}

.header-container{
    display:flex;
    background-color: #D6E9FE; 
    justify-content: center;
}
.header{
    width:80%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.header *{
    margin:0 auto;
}

.social, .subscribe{
    align-self:flex-end;
    margin-bottom:30px;
}
a:link, a:visited{
    text-decoration: none;
}

.photo-grid-container{
    display:flex;
    justify-content: center;
}

.photo-grid{
    display:flex;
    width:100%;
    justify-content: flex-start;
}
.photo-grid-item{
    border: solid 1px white;
    width:300px;
    height:300px;
}

.photo-grid-container1{
    display:flex;
    justify-content: center;
}

.photo-grid1{
    display:flex;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}
.photo-grid-item1 img{
    border: solid 1px white;
    width:500px;
    height:500px;
}


.photo-grid-container2{
    display:flex;
    justify-content: center;
}

.photo-grid2{
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
}
.photo-grid-item2{
    border: solid 1px white;
    width:300px;
    height:300px;
}
.flex-container-very-useful{
    display:flex;
    justify-content: center;
    width:90%
}
.content-useful{
    text-align: center;
    width:90%;
    border: #fff solid 2px;
    padding: 2px;
    display:flex;
    justify-content: space-around;

}
.very-useful{
    margin:0 10px;
    border: #fff solid 2px;
    background: #D6E9FE;
    Flex: 7;
}
.small{
    margin:0 10px;
    border: #fff solid 2px;
    background-color:aqua;
    FLex:3;
}

.smaller{
    margin:0 10px;
    border: #fff solid 2px;
    background-color:aqua;
    FLex:1;
}